{% extends 'base/base.html' %}

{% block title %} <title>Lwin Moe</title> {% endblock %}

{% block content %}
  <div class="container">
    <div class="featurette">
      <img class="featurette-image pull-right" src="https://lh4.googleusercontent.com/-o58zGSaWCvI/SOfaC71l6CI/AAAAAAAABFU/qIilOYkhtpA/s288/harpgirl.gif">
      <p>I am a computational linguist at the <a href="http://linguistlist.org" target="_blank">Linguist List</a>, working on several projects:</p>
      <ul>
        <li><a href="http://endangeredlanguages.com" target="_blank">Endangered Languages Catalog</a></li>
        <li><a href="http://multitree.org" target="_blank">MultiTree</a></li>
      </ul>
      <p>I studied Computer Science and Linguistics at <a href="http://iub.edu" target="_blank">Indiana University in Bloomington</a>, <a href="http://ipfw.edu" target="_blank">Indiana University-Purdue University in Fort Wayne</a>, <a href="http://ait.ac.th" target="_blank">Asian Institute of Technology</a> in Bangkok.</p>
      <p>I worked in Burma, Laos and Thailand before going to graduate school. I used to work at <a href="http://sealang.net" target="_blank">the Center for Research in Computational Linguistics</a> (Southeast Asian Languages Archive).</p>
      <p>I enjoy working on projects that encompass Mathematics, Computer Science and Linguistics. I also like music and travelling. I play guitar and sing during my leisure. I love travelling to Southeast Asian countries and learning about their languages.</p>
    </div>
  </div><!-- /.container -->
{% endblock %}
