{% extends 'base/base.html' %}

{% block title %} <title>Zac Branson</title> {% endblock %}

{% block content %}
<div class="container">
    <div class="row featurette">
        <div class="col-md-8">
            <p>I am a PhD student at Indiana University studying <a href="http://cl.indiana.edu/" target="_blank">Computational Linguistics</a> with a minor in <a href="https://www.soic.indiana.edu/graduate/degrees/computer-science/phd-cs-minor.html" target="_blank">Computer Science</a>.  I received my undergraduate degree in Linguistics at the <a href="http://linguistics.missouri.edu/" target="_blank">University of Missouri-Columbia</a>.</p>
            <p>I am currently employed as an intern at <a href="http://linguistlist.org" target="_blank">Linguist List</a>.</p>
            <p>As an undergraduate and during my first two years at IU, I worked on Language Documentation with a specific focus on un(der-)documented <a href="https://en.wikipedia.org/wiki/Bantu_languages" target="blank">Bantu Languages</a>.  As part of these studies I became interested in, and eventually re-focused on: Automatic Speech Recognition, Corpora Creation, Forced Alignment, as well as other aspects of Natural Language Processing.  Through my minor studies I am exploring the design of Artificial Intelligence sytems.</p>
            <p>In my free time I enjoy Classic and Independent Cinema, Science Fiction novels, and amateur Herpetology.</p>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
