{% extends 'base/base.html' %}

{% block title %} <title>Lwin Moe</title> {% endblock %}

{% block content %}
<div class="container">
    <div class="row featurette">
        <div class="col-md-8">
            <p>I am a computational linguist. I work at the <a href="http://linguistlist.org" target="_blank">LINGUIST List</a>. I studied computer science and linguistics at <a href="http://iub.edu" target="_blank">Indiana University in Bloomington</a>, <a href="http://ipfw.edu" target="_blank">Indiana University-Purdue University in Fort Wayne</a>, <a href="http://ait.ac.th" target="_blank">Asian Institute of Technology</a> in Bangkok.</p>
            <p>I worked in Burma, Laos and Thailand before working at LINGUIST List. My past experience includes doing research at the <a href="http://sealang.net" target="_blank">Center for Research in Computational Linguistics</a> (Southeast Asian Languages Archive) and teaching at the Myanmar Institute of Theology.</p>

            <p>I am working and have worked on some of these projects:</p>

            <ul>
                <li><a href="http://endangeredlanguages.com" target="_blank">Endangered Languages Catalog</a>: a worldwide effort to share knowledge and resources for endangered languages</li>
                <li><a href="http://multitree.org" target="_blank">MultiTree</a>: a searchable database of hypotheses on language relationships</li>
                <li><a href="http://sealang.net/sala" target="_blank">Southeast Asian Linguistics Archives</a></li>
                <li>SEALang <a href="http://sealang.net/burmese/" target="_blank">Burmese</a>, <a href="http://sealang.net/mon/" target="_blank">Mon</a>, <a href="http://sealang.net/shan/" target="_blank">Shan</a> and <a href="http://sealang.net/karen/dictionary.htm" target="_blank">Karen</a> dictionaries</li>
                <li>SEALang <a href="http://sealang.net/thai/" target="_blank">Thai</a>, <a href="http://sealang.net/khmer" target="_blank">Khmer</a> and <a href="http://sealang.net/lao/" target="_blank">Lao</a> dictionaries</li>
            </ul>

            <p>I enjoy working on projects that encompass mathematics, computer science and linguistics. I wrote my Master's thesis on the <a href="https://docs.google.com/file/d/0B7ZEOyKXVhn1bk5LMF9pRy0xUUU/edit?usp=sharing" target="_blank">Automatic Bitext Alignment for Southeast Asian Languages</a>. I also like music and travelling. I play guitar and sing during my leisure. I love travelling to Southeast Asian countries and learning about their languages.</p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image" src="https://lh4.googleusercontent.com/-o58zGSaWCvI/SOfaC71l6CI/AAAAAAAABFU/qIilOYkhtpA/s288/harpgirl.gif">
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
