{% extends 'base/base.html' %}

{% block title %} <title>Lwin Moe :: Education</title> {% endblock %}

{% block content %}
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-right" src="https://lh4.googleusercontent.com/-o58zGSaWCvI/SOfaC71l6CI/AAAAAAAABFU/qIilOYkhtpA/s288/harpgirl.gif">
    <h2>Education</h2>
    <ul>
      <li><span class="normal">Masters of Arts, <a href="http://cl.indiana.edu/" target="_blank">Computational Linguistics</a>, (<a href="http://iub.edu/" target="_blank">Indiana University in Bloomington</a>)</span></li>
      <li><span class="normal">Masters of Science, Computer Science (<a href="http://www.ait.ac.th/" target="_blank">Asian Intitute of Technology</a>, Bangkok)</span></li>
      <li><span class="normal">Bachelor of Science, Information Systems (Purdue University)</span></li>
    </ul>
    <h2>Thesis</h2>
    <ul>
      <li><a href="https://docs.google.com/file/d/0B7ZEOyKXVhn1bk5LMF9pRy0xUUU/edit?usp=sharing" target="_blank">Automatic Bitext Alignment for Southeast Asian Languages</a></li>
    </ul>
    <h2>Papers</h2>
    <ul>
      <li>Khan, M., Baucom, E., Meyer, A. and Moe, L. (2012). Projecting Farsi POS Data to Tag Pashto. <i>Proceedings of the Second Student Research Workshop associated with RANLP 2011</i>, 25-32. [<a href="http://www.aclweb.org/anthology-new/R/R11/R11-2004.pdf" target="_blank">Link</a>]</li>
      <li>Johnson, P., Kim, B., Moe, L. and Erbach, D. (2002). Visualization of Web Retrieval Results. <i>Proceedings of the ISCA 15th International Conference on Computer Applications in Industry and Engineering</i>, 33-36. [<a href="https://docs.google.com/file/d/0B7ZEOyKXVhn1ZGRTNGtOOEtLRlE/edit?usp=sharing" target="_blank">Link</a>]</li>
    </ul>
  </div>
{% endblock %}

