{% extends 'base/base.html' %}

{% block title %} <title>Zac Branson :: Education</title> {% endblock %}

{% block content %}
<div class="container">
    <div class="row featurette">
        <div class="col-md-12">
            <h2>Education</h2>
            <ul>
                <li><span class="normal">Bachelor of Arts in <a href="http://linguistics.missouri.edu/" target="_blank">Linguistics</a>, <a href="http://romancelanguages.missouri.edu/index.shtml" target="_blank">Spanish</a>, and <a href = "https://english.missouri.edu/" target="_blank">English</a> at the <a href="http://missouri.edu/" target="_blank">University of Missouri-Columbia</a></span>.</li>
                <li><span class="normal">Masters of Arts in <a href="https://www.indiana.edu/" target="_blank">Linguistics</a> at <a href="https://www.indiana.edu/" target="_blank">Indiana University</a></span></li>
                <li><span class="normal">Masters of Science in <a href="http://cl.indiana.edu/" target="_blank">Computational Linguistics</a> at <a href="https://www.indiana.edu/" target="_blank">Indiana University</a></span></li>
            </ul>
            <h2>Conference Presentations</h2>
            <ul>
                <li><a href="https://docs.google.com/file/d/0B7ZEOyKXVhn1bk5LMF9pRy0xUUU/edit?usp=sharing" target="_blank">Automatic Bitext Alignment for Southeast Asian Languages</a> [<a href="{{MEDIA_URL}}docs/lwinmoe-thesis.pdf">PDF</a>]
                </li>
            </ul>
            <h2>Papers</h2>
            <ul>
                <li>
                  Nardi, D and Moe, L. (2014). Understanding the Myanmar Supreme Court's Docket: An Analysis of Case Topics from 2007 to 2011. In Melissa Crouch and Tim Lindsey (Eds.), <i>Law, Society, and Transition in Myanmar</i> (95-114). Oxford: Hart Publishing.
                </li>
                <li>Khan, M., Baucom, E., Meyer, A. and Moe, L. (2012). Projecting Farsi POS Data to Tag Pashto. <i>Proceedings of the Second Student Research Workshop associated with RANLP 2011</i>, 25-32. [<a href="http://aclweb.org/anthology/R/R11/R11-2004.pdf" target="_blank">Link</a>]
                </li>
                <li>Johnson, P., Kim, B., Moe, L. and Erbach, D. (2002). Visualization of Web Retrieval Results. <i>Proceedings of the ISCA 15th International Conference on Computer Applications in Industry and Engineering</i> 33-36. [<a href="https://docs.google.com/file/d/0B7ZEOyKXVhn1ZGRTNGtOOEtLRlE/edit?usp=sharing" target="_blank">Link</a>]
                </li>
                <li>Moe, L. (2002). Visualization of Internet Search Result. <i>Proceedings of the 14th Annual Butler University Undergraduate Research Conference</i>, 47.
                </li>
            </ul>
        </div>
    </div>
    <!-- end container -->
{% endblock %}

