{% extends 'base/base.html' %}

{% block title %} <title>Lwin Moe :: Work</title> {% endblock %}

{% block content %}
    <div class="container">
        <div class="row featurette">
            <div class="col-md-12">
                <h2>Work</h2>
                <ul>
                    <li>Database Analyst/Programmer - Department of Linguistics, Indiana University in Bloomington [2014-present].</li>
                    <li>Database Analyst/Programmer - Institute of Language Information and Technology, Eastern Michigan University [2011-2014].</li>
                    <li>Research Assistant - <a href="http://www.sealang.net/" target="_blank">Center for Research in Computational Linguistics</a> [2005-2009].</li>
                    <li>IT Consultant - <a href="http://digitaldividedata.org" target="_blank">Digital Divide Data Laos</a> [2005].</li>
                    <li>Lecturer - Myanmar Institute of Theology [2002-2004].</li>
                </ul>
            </div>
        </div>
    </div> <!-- end container -->
{% endblock %}

