{% extends 'base/base.html' %}

{% block title %} <title>Lwin Moe :: Work</title> {% endblock %}

{% block content %}
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-right" src="https://lh4.googleusercontent.com/-o58zGSaWCvI/SOfaC71l6CI/AAAAAAAABFU/qIilOYkhtpA/s288/harpgirl.gif">
    <h2>Work</h2>
    <ul>
      <li><span class="normal"><a href="http://www.sealang.net/" target="_blank">Center for Research in Computational Linguistics</a></span></li>
      <li><span class="normal"><a href="http://ltl.emich.edu/" target="_blank">Institute of Language Information and Technology</a>, Eastern Michigan University</span></li>
    </ul>
  </div>
{% endblock %}

