    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li {% if page == 'home' %}class="active" {% endif %}><a href="/">About</a></li>
                <li {% if page == 'education' %}class="active" {% endif %}><a href="/education/">Education</a></li>
                <li {% if page == 'work' %}class="active" {% endif %}><a href="/work/">Work</a></li>
                <li {% if page == 'resume' %}class="active" {% endif %}><a href="/resume/">Resume</a></li>
                <li class="dropdown ">
                  <a href="/" class="dropdown-toggle" data-toggle="dropdown">Social Media<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://blog.lwinmoe.org" target="_blank">Blog</a></li>
                    <li><a href="https://github.com/lwinmoe" target="_blank">GitHub</a></li>
                    <li><a href="https://facebook.com/lwinmoe" target="_blank">Facebook</a></li>
                    <li><a href="https://google.com/+LwinMoe" target="_blank">Google+</a></li>
                  </ul>
                </li>
             </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
