<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% block title %}{%  endblock %}
  <link href="http://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700|Merriweather:400" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link href="{{MEDIA_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{MEDIA_URL}}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  <link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" media="screen">
  <!-- end bootstrap -->
  <link rel="icon" type="image/x-icon" href="{{MEDIA_URL}}img/favicon.ico" />
  <meta property="fb:app_id" content="525853894139617"/> <!-- facebook -->
</head>
<body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38503144-1']);
  _gaq.push(['_setDomainName', 'lwinmoe.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% include 'base/_menu.html' %}
{% block content %}{% endblock %}
{% include "base/_footer.html" %}
{% include "base/_js.html" %}

<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>
</body>
</html>
